* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(135deg, #f39c12, #8e44ad);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
}

.app {
  margin-bottom: 20px;
}

button {
  padding: 15px 25px;
  background: #f39c12;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #d35400;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
}

h2{
 margin: 20px;
}

.prediction {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.5;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  .container {
    padding: 30px;
  }

  button {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  .prediction {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
  }

  .prediction {
    font-size: 16px;
    padding: 15px;
  }
}